@use "apply-r-clamp" as arc;

/// font-sizeにr-clampを適用するmixin
/// @param $min - 最小値
/// @param $max - 最大値
/// @example
/// @include font-size-r-clamp(16px, 32px);
/// // => font-size: clamp(1rem, calc(0.85rem + 0.52vw), 2rem);
@mixin font-size-r-clamp($min, $max) {
  @include arc.apply-r-clamp("font-size", $min, $max);
}