// ====================================================
// sass-responsive-util/ _index.scss
// ----------------------------------------------------
// sass-responsive-utilフォルダ内の各フォルダを@forwardで読み込み
// ====================================================

@forward "global";