// ====================================================
// scss/ _index.scss
// ----------------------------------------------------
// scssフォルダ内の各フォルダを@forwardで読み込み
// ====================================================

@forward "global";