// ====================================================
// global/ _index.scss
// ----------------------------------------------------
// globalフォルダ内の各フォルダを@forwardで読み込み
// ====================================================

@forward "setting";
@forward "functions";