// ====================================================
// setting / _index.scss
// ----------------------------------------------------
// settingフォルダ内の各関数ファイルを@forwardで読み込み
// ====================================================
@forward "variables";